@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap');

$primary-color: #ffffff;
$font-stack: 'Titillium Web', sans-serif;

%button {
    background-color: #6C6768;
    border: none;
    border-radius: 10px;
    color: $primary-color;
    font-family: $font-stack;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #DA4A62;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    &:focus {
        outline: none;
    }
}

%modal-styling {
    background-color: $primary-color;
    border: solid 1px #6C6768;
    border-radius: 10px;
    display: block;
    padding: 10px;
    position: fixed;
    right: 35%;
    transform: scale(0);
    transition: transform 0.4s linear;
    width: 350px;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    margin: 5px 0 0 0;
}

.secondary-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 82px);
    z-index: 0;

    .calendar {
        color: $primary-color;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column: 1 / 8;
        grid-row: 1 / 9;
        margin: 0 0 0 5px;

        .date {
            background-color: #6C6768;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column: 1 / 8;
            grid-row: 1 / 2;

            .month {
                text-align: center;
                h1, h2 {
                    margin: 0;
                }
            }

            .left-icon {
                display: flex;
                justify-content: flex-start;
            }

            .right-icon {
                display: flex;
                justify-content: flex-end;
            }
        }

        .weekdaysContainer {
            display: grid;
            gap: 5px;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 1fr;
            grid-column: 1 / 8;
            grid-row: 2 / 3;

            .weekday {
                align-items: center;
                border-radius: 5px;
                display: flex;
                background-color: #28527a;
                justify-content: center;

                h2 {
                    margin: 0;
                }
            }
        }

        .daysContainer {
            color: #000000;
            display: grid;
            gap: 1px;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column: 1 / 8;
            grid-row: 3 / 10;

            .day {
                border: #000000 1px solid;
                border-radius: 5px;
                padding-left: 5px;
                cursor: pointer;

                &:hover {
                    background-color: rgba($color: #DA4A62, $alpha: 0.5);
                }

                h3 {
                    display: inline;
                    margin: 0;
                }
            }

            .weekend {
                color: #28527a !important;
            }

            .prevMonth, .nextMonth {
                background-color: rgba($color: #6C6768, $alpha: 0.5);
            }
        }
    }

    .eventsContainer {
        display: grid;
        gap: 5px;
        grid-template-rows: repeat(8, 1fr);
        grid-column: 8 / 11;
        grid-row: 1 / 10;

        .options {
            background-color: #28527a;
            border: none;
            border-radius: 5px;
            color: $primary-color;
            display: grid;
            gap: 5px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-row: 1 / 2;
            padding: 5px;

            .options-header {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                text-align: center;
            }

            .add-event {
                @extend %button;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                transform: scale(0);
            }

            .remove-event {
                @extend %button;
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                transform: scale(0);
            }

            h1 {
                margin: 0; 
            }
        }

        .events {
            border-radius: 5px;
            display: grid;
            gap: 2px; 
            grid-auto-rows: 150px;
            grid-row: 2 / 9;
            overflow: auto;

            .event { 
                box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.5);
                padding: 5px;
                cursor: pointer;
                -webkit-box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.5);

                h3, h4, p {
                    margin: 0;
                }
            }

            .no-event {
                box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.5);
                padding: 5px;
                text-align: center;
                -webkit-box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.5);

                h3 {
                    margin: 0;
                }
            }
        }
    }
}

.modal {
    @extend %modal-styling;
    top: 10%;

    button {
        @extend %button;
        border: none;
        border-radius: 5px !important;
        display: block;
        margin: 5px auto;
        padding: 5px;
    }

    form {
        margin: 2px auto;
        width: 200px;
    }

    h1 {
        margin: 0;
        text-align: center;
    }

    input{
        color: #000000;
        display: block;
        font-family: $font-stack;
        padding: 2px;
        width: 200px;

        &:focus {
            outline: none;
        }
    }

    label {
        display: block;
        font-weight: bold;
    }

    textarea {
        display: block;
        font-family: $font-stack;
        height: 100px;
        margin-bottom: 15px;
        padding: 5px;
        resize: none;
        width: 200px;

        &:focus {
            outline: none;
        }
    }
}

.confirmation-modal {
    @extend %modal-styling;
    text-align: center;
    top: 30%;

    input {
        @extend %button;
        border: none;
        border-radius: 5px !important;
        display: block;
        margin: 5px auto;
        padding: 5px;
    }

    label {
        font-size: 25px;
    }
}

.overlay {
    background-color: rgba($color: #6C6768, $alpha: 0.5);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: fixed;
    right: 0;
    transform: scale(0);
    top: 0;
    z-index: 0;
}

.active {
    transform: scale(1) !important;
}

